.fondoLandingPage {
    -fx-background-image: url('LandingPage.jpg');
    -fx-background-size: cover;
}

.text-field {
    -fx-border-color: white;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-background-color: rgba(87, 136, 166, 0.2);
}

.error {
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: red;
}

#fechaNacimiento .text-field{
    -fx-border-color: white;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-background-color: rgba(255,255,255, 0.25);
}

#fecha .text-field{
    -fx-border-color: white;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-background-color: rgba(87, 136, 166, 0.2);
}

.date-picker .arrow-button{
    -fx-background-color: #5788A6;
}

.date-picker .arrow-button .arrow{
    -fx-background-color: white;
}

.date-picker .button {
    -fx-pref-height: 31px;
    -fx-pref-width: 31px;
}

.date-picker .cell:hover {
    -fx-background-color: #5788A6;
    -fx-text-fill: white;
}

.date-picker .cell:focused {
    -fx-background-color: #5788A6;
    -fx-text-fill: white;
}

.btnLanding {
    -fx-font-size: 1.3em;
}

.btnLanding:hover {
    -fx-font-size: 1.4em;
}

.btnRegistrar {
    -fx-background-color: #2f2f2fa3;
}

.btnRegistrar:hover {
    -fx-background-color: rgba(0, 0, 0, 0.45);
}

.btnAgregar {
    -fx-background-color: #5788A6;
}

.btnAgregar:hover {
    -fx-background-color: #1e2e45;
}

.btnBold {
    -fx-background-color: #5788A6;
}

.btnBold:hover {
    -fx-background-color: #1e2e45;
}

.btnEditarEliminar:hover {
    -fx-background-color: #1e2e45;
}

.btnMenu:hover {
    -fx-text-fill: white;
}

.btnMenuPrincipio {
    -fx-border-color: #bbbcbf;
}

.btnMenuPrincipio:hover {
    -fx-text-fill: white;
    -fx-border-color: white;
}

.lblName:hover {
    -fx-underline: true;
}

.text-area {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 0px 0px 2px 0px;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.choice-box .context-menu { -fx-background-color: #5788A6; -fx-pref-width: 200px; -fx-font-size: 14px;}

#choiceBoxPrincipio .context-menu { -fx-background-color: #5788A6; -fx-pref-width: 250px; -fx-font-size: 14px;}

#choiceBoxListaVuelos .context-menu { -fx-background-color: #5788A6; -fx-pref-width: 250px; -fx-font-size: 14px;}

.choice-box .menu-item:focused { -fx-background-color: #1e2e45; }

.choice-box .menu-item > .label { -fx-text-fill: #bbbcbf; }

.choice-box .menu-item:focused > .label { -fx-text-fill: white; }

.choice-box {
    -fx-background-color: transparent;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: white;
    -fx-mark-color: #5788A6;
    -fx-font-size: 14px;
}

.choice-box > .label { -fx-text-fill: white; }

.table-view .table-column {
    -fx-alignment: CENTER;
}